<!DOCTYPE html>
<html>
<head>
    <title>Plotly Flask App</title>
</head>
<body>
    <h1>Plotly Flask App</h1>

    <form method="POST">
        <label for="selected_column">Select a column to plot:</label>
        <select name="selected_column" id="selected_column">
            {% for column in columns %}
                <option value="{{ column }}">{{ column }}</option>
            {% endfor %}
        </select>
        

        <label for="selected_plot_type">Select a plot type:</label>
        <select name="selected_plot_type" id="selected_plot_type">
            {% for type in ["line", "histogram", "scatter"] %}
                <option value="{{ Type }}">{{ type }}</option>
            {% endfor %}
        </select>
        
        <input type="submit" value="Plot">
    </form>

    <div id="plot">
        {{ plot|safe }}
    </div>
</body>
</html>